.vscode/**
.github/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.ts
**/*.map
shared.webpack.config.js
images/**
TODO.txt
*.vsix

client/**
server/**
!client/out/extension.js
!server/out/server.js
!server/out/indexer.js
!server/resources/**
